<div style="width: 100%; display: flex; flex-direction: column;">
  <div class="navbar" style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 20px;">
    <h1>VIEWD</h1>
    
    <%= form_with url: movies_path, method: :get do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: "Search movies..." %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
  

  <div style = "display: flex; flex-direction: row; padding: 0px 30px; width: 100%">
    <div style = "display: flex; flex-direction: column; width: 30%">
      <%=image_tag @movie.poster_url, alt: @movie.title%>
      <p>total watch count: <%=@total_watch%></p>
      <p>total likes: <%=@total_likes%></p>

    </div>

    <div style="display: flex; flex-direction: column;">
      <h1><%=@movie.title%></h1>
      <p style="color: gray"><%=@movie.release_date%></p>
      <br />
      <p><%=@movie.synopsis%></p>
    </div>

    <div style="display: flex; flex-direction: column;">
      <div style="border-left: 1px solid #ddd; padding-left: 15px; margin-left: 5px;">
        <%= render 'ratings/form', movie: @movie %>
      </div>
      <%= render 'library_entries/watched', movie: @movie%>
      <%= render 'library_entries/watchlist', movie: @movie%>
      <%= render 'likes/movie_like', movie: @movie%>
    </div>

  </div>
</div>

