<% user = User.first %>
<% current_rating = user.ratings.find_by(movie: movie)&.rating if user %>

<div style="display: flex; flex-direction: row-reverse; justify-content: flex-end; align-items: center;">
  <%= form_with url: movie_ratings_path(movie), method: :post do |f| %>
    <style>
      .star-radio { display: none; }
      .star-label { font-size: 35px; color: #ddd; cursor: pointer; transition: 0.2s; }
      .star-radio:checked ~ .star-label, .star-label:hover, .star-label:hover ~ .star-label { color: #f5b301; }
    </style>
    <% 1.upto(5) do |i| %>
      <input type="radio" id="star<%= i %>" name="score" value="<%= i %>" class="star-radio" onchange="this.form.submit()" <%= "checked" if current_rating == i %> />
      <label for="star<%= i %>" class="star-label">★</label>
    <% end %>
  <% end %>
  <span style="margin-right: 15px; font-family: sans-serif; color: #666;">Rate:</span>
</div>
